@media screen and (min-width: 460px) {
  /* ====================== Restaurant Filtering ====================== */
  .filter-options > select {
    width: 44%;
    margin-top: 10px;
  }
  .filter-options > select:nth-child(2) {
    margin-left: 4%;
    margin-right: 2%;
  }
  .filter-options > select:nth-child(3) {
    margin-left: 2%;
    margin-right: 4%;
  }
}

@media screen and (min-width: 550px) and (max-width: 880px) {
  /* Show two results per row*/
  #restaurants-list li {
    width: calc((96% - 53px) / 2);
  }
  #restaurants-list li:nth-child(even) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 880px) {
  /* Show three results per row */
  #restaurants-list li {
    width: calc((86% - 12px) / 3);
    margin-left: 2%;
    margin-right: 0;
  }
  #restaurants-list li:nth-child(3n+3) {
    margin-right: 2%;
  }
}

/* ========= restaurant.html =========== */

/* Show restaurant timings on the right of the image */
@media screen and (min-width: 550px) {
  .restaurant-img-container {
    width: 50%;
  }
  .restaurant-info-container {
    margin-left: 5%;
    padding: 0 2%;
    width: calc(40% - 2px);
    border: 1px solid #aaa;
    border-radius: 10px;
  }
}

/* ====== Common ====== */
@media screen and (min-width: 1080px) {
  html{
    width: 1080px;
    margin: 0px auto;
  }
  .inside header {
    width: 1080px;
  }
  #breadcrumb {
    width: calc(1080px - 80px);
  }
}

@media screen and (max-height: 600px) {
  .inside #map-container, #map-container {
    /* Helps scrolling past map in landscape mode*/
    margin: 2px 44px;
  }
}