@media screen and (min-width: 460px) {
  /* ====================== Restaurant Filtering ====================== */
  .filter-options > select {
    width: 44%;
    margin-top: 10px;
  }
  .filter-options > select:nth-child(2) {
    margin-left: 4%;
    margin-right: 2%;
  }
  .filter-options > select:nth-child(3) {
    margin-left: 2%;
    margin-right: 4%;
  }
}

@media screen and (min-width: 550px) and (max-width: 880px) {
  /* Show two results per row*/
  #restaurants-list li {
    width: calc((96% - 53px) / 2);
  }
  #restaurants-list li:nth-child(even) {
    margin-left: 0px;
  }
}

@media screen and (min-width: 880px) {
  /* Show three results per row */
  #restaurants-list li {
    width: calc((86% - 12px) / 3);
    margin-left: 2%;
    margin-right: 0;
  }
  #restaurants-list li:nth-child(3n+3) {
    margin-right: 2%;
  }
}

@media screen and (min-width: 1080px) {
  body {
    width: 1080px;
    margin: 0px auto;
  }
}